<% include partials/header %>
<% include partials/navbar %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1><%= campgrounds.name %></h1>
		</div>
	</header>
	<img src="<%=campgrounds.image%>">
	<p><%=campgrounds.description%></p>
	<% campgrounds.comments.forEach(function(comment){ %>
		<p><strong><%= comment.author %></strong> - <%= comment.text %></p>
	<% }); %>

</div>


<% include partials/footer %>